<div class="mainCntr">
    <div class="heroBanner">
        <app-hero-banner></app-hero-banner>
    </div>
    <div class="mainContent">
        <div class="content1">
            <app-quick-links></app-quick-links>
        </div>
        <div class="content2">
            <app-detail-card [dataRec]="db1" ></app-detail-card>
            <app-detail-card [dataRec]="db2" ></app-detail-card>
        </div>
        <div class="content3">
            <app-alert-card [dataReceive]="db3" ></app-alert-card>
            <app-alert-card [dataReceive]="db4" ></app-alert-card>
        </div>
    </div>
</div>
