<div class="headerCont">
    <div class="headerLogo">
        <img src="../../assets/images/FMB-CapitalBank-logo.svg" alt="logo" />
    </div>
    <app-navigation></app-navigation>
    <div class="userGreet">
        <div class="greetImg">
            <img src="../../assets/images/profile-icon.png" alt="logo" />
        </div>
        <div class="greetInfo">
        <span class="greetings">Welcome</span>
        <span class="userName">Lesedi Britt</span>
    </div>
    </div>
    <app-button></app-button>
</div>
