.button > button {
    font-family: "opensans-bold";
font-size: 0.75rem;
line-height: 1.33;
cursor: pointer;
}

@media screen and (max-width: 1180px) {
    .button {
        margin-left: 20px;
    }
}