<div class="cardMainCntr">
    <div class="cardCntr">
        <h4 class="cardCntrTxt">My Loans</h4>
        <p class="accNo">0002101001234 - Lesedi Britt</p>
        <div class="balDtls">
            <div class="dtls">
                <span class="balTxt">Outstanding Balance</span>
                <p class="balAmnt"><span>BWP</span> 78,206.05</p>
            </div>
            <div class="dtls">
                <span class="balTxt">Next Payment Date</span>
                <p class="payDate">01 Jan 2020</p>
            </div>
            <div class="dtls">
                <span class="balTxt">Next Payment Amount</span>
                <p class="amnt">10,000.00</p>
            </div>
        </div>
        <div class="acntDisp">
            <div class="acntLink">
                <a href="" rel="noopener noreferrer"> View Transaction History </a>
            </div>
            <div class="acntLink">
                <a href="" rel="noopener noreferrer"> View Repayment Schedule </a>
            </div>
            <div class="acntLink">
                <a href="" rel="noopener noreferrer"> Loan Repay </a>
            </div>
        </div>
    </div>
    <div class="acntPage">
        <div class="acntShift">
            <div class="leftArrow">
                <img src="../../../assets/images/rectangle-33.png" alt="leftArrow" />
            </div>
            <p class="noOfAcnt">1 of 1 account</p>
            <div class="rightArrow">
                <img src="../../../assets/images/rectangle-34.png" alt="rightArrow" />
            </div>
        </div>
        <div class="btnCntr">
            <p class="goToTxt">Go to account</p>
            <app-button [itext]="acntNo" ></app-button>
            <app-button [itext]="cardText" ></app-button>
        </div>
    </div>
</div>
