<div class="cardMainCntr">
    <div class="cardCntr" *ngFor="let db of dataRec">
        <h4 class="cardCntrTxt">{{ db.title }}</h4>
        <p class="accNo">{{ db.accNo }}</p>
        <div class="balDtls">
            <div class="dtls">
                <span class="balTxt">{{ db.balTitle }}</span>
                <p class="balAmnt"><span>BWP</span> {{ db.balAmnt }}</p>
            </div>
            <div class="dtls">
                <span class="balTxt">{{ db.payDateTitle }}</span>
                <p class="payDate">{{ db.date }}</p>
            </div>
            <div class="dtls">
                <span class="balTxt">{{ db.payAmntTitle }}</span>
                <p class="amnt">{{ db.payAmnt }}</p>
            </div>
        </div>
        <div class="acntDisp">
            <div class="acntLink">
                <a href="" rel="noopener noreferrer"> {{ db.lnk1 }} </a>
            </div>
            <div class="acntLink">
                <a href="" rel="noopener noreferrer"> {{ db.lnk2 }} </a>
            </div>
            <div class="acntLink">
                <a href="" rel="noopener noreferrer"> {{ db.lnk3 }} </a>
            </div>
        </div>
    </div>
    <div class="acntPage">
        <div class="acntShift">
            <div class="leftArrow">
                <img src="../../../assets/images/rectangle-33.png" alt="leftArrow" />
            </div>
            <p class="noOfAcnt">1 of 1 account</p>
            <div class="rightArrow">
                <img src="../../../assets/images/rectangle-34.png" alt="rightArrow" />
            </div>
        </div>
        <div class="btnCntr">
            <p class="goToTxt">Go to account</p>
            <app-button [itext]="acntNo" ></app-button>
            <app-button [itext]="cardText" ></app-button>
        </div>
    </div>
</div>
