<div class="qckLnkCntr">
    <h4 class="qckLnkTxt">Quick Links</h4>
    <div class="qckLnks">
        <ul>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="lnksTxt">Full Statement</span>
                    <span class="lnksIcon"> > </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="lnksTxt">Mini Statement</span>
                    <span class="lnksIcon"> > </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="lnksTxt">Funds Transfer</span>
                    <span class="lnksIcon"> > </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="lnksTxt">Bill Payments</span>
                    <span class="lnksIcon"> > </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="lnksTxt">Top-up/Recharge</span>
                    <span class="lnksIcon"> > </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="lnksTxt">Stop Cheque</span>
                    <span class="lnksIcon"> > </span>
                </a>
            </li>
        </ul>
    </div>
</div>