<div class="alrtCardCntr">
    <div class="alrtHeadingCntr">
        <span class="alrtHeading"> Email Alerts </span>
    </div>
    <div class="alrtDet">
        <ul>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="alrtTxt">Broadcast Message(s):</span>
                    <span class="notification"> 0 </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="alrtTxt">Unread Mail(s):</span>
                    <span class="notification"> 0 </span>
                </a>
            </li>
            <li>
                <a href="" rel="noopener noreferrer">
                    <span class="alrtTxt">Unread Alert(s):</span>
                    <span class="notification"> 0 </span>
                </a>
            </li>
        </ul>
    </div>
</div>